

.portfolio__container {
  padding-bottom: 3rem;
}

.portfolio__container > div h3 {
  text-decoration: underline;
}



.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  text-align: center;
  margin-right: 2.6rem !important;
  /* margin-right: 0rem !important;
  margin-left: 0rem !important; */
}


.portfolio__item-image {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  /* display: flex;
  gap: 1.3rem; */
  margin-bottom: 1rem;
  justify-content: center;
}
.portfolio__item-cta a {
  margin: .5rem;
}



.portfolio__container .swiper-wrapper {
  justify-content: center;
}




/*** media quieries (medium devices) ***/
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .portfolio__container .swiper-wrapper {
    justify-content: center;
  }

  .portfolio__item {
    margin-right: 1.3rem !important;
  }

}


/*** media quieries (small devices) ***/
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .portfolio__container .swiper-wrapper {
    justify-content: left;
  }

  .portfolio__item {
    margin-right: 2.6rem !important;
  }

}

 












