
/* .portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
} */
.portfolio__container {
  padding-bottom: 3rem;
}



.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transition: var(--transition);
  transform-origin: center center;
  filter: var(--dim);
  text-align: center;
}

.portfolio__item:hover {
  filter: var(--brighten);
  transform: var(--scale);
}

.portfolio__item-image {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 1rem;
  justify-content: center;
}




/*** media quieries (medium devices) ***/
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*** media quieries (small devices) ***/
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

 












