

.portfolio__container {
  width: 87% !important;
}


.swiper {
  padding: 2rem 2rem 4rem 2rem !important;
}

swiper-pagination-bullet, .swiper-pagination-bullet-active, .swiper-pagination-bullet-active-main {
  background: var(--color-primary) !important;
}




.portfolio__item {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.portfolio__item-image {
  transition: transform .5s, filter .5s ease;
  transform-origin: center center;
  filter: brightness(100%);
}

.portfolio__item:hover .portfolio__item-image {
  filter: brightness(40%);
  transform: scale(1.2);
}




.portfolio__item-link-group {
  position: absolute;
  top: -100px;
  right: 0;
  padding: 0.6rem;
  font-size: 1.4rem;
  font-weight: 1000;
  margin: .6rem;
  transition: .8s;
}

.portfolio__item:hover .portfolio__item-link-group, .portfolio__item:active .portfolio__item-link-group {
  transition: .8s;
  top: 0;
}

.portfolio__item-link-group a {
  color: var(--color-bg-variant);
  margin: 0.5rem;
}





.portfolio__item-overlay {
  position: absolute;
  bottom: -300px;
  left: 0;
  right: 0;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: .8s;
}

.portfolio__item:hover .portfolio__item-overlay, .portfolio__item:active .portfolio__item-overlay {
  pointer-events: none;
  transition: .8s;
  bottom: 0;
}

.portfolio__item-overlay h3 {
  font-size: 2rem;
  font-weight: 1000;
  color: white;
  text-align: left;
}

.portfolio__item-overlay p {
  color: white;
  font-size: 1rem;
  text-align: left;
}






.portfolio__item-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: .8rem;
  column-gap: .8rem;
  padding-top: 1rem;
}


.portfolio__item-tag {
  background-color: #d7d2d2;
  border-radius: .1rem;
  padding: 0.1rem .4rem;
  font-size: .88rem !important;
}



/*** media quieries (medium devices) ***/
@media screen and (max-width: 1024px) {
  .portfolio__container {
    width: 100% !important;
  }


  .portfolio__item-overlay {
    padding: 1.2rem;
  }

  .portfolio__item-overlay h3 {
    font-size: 1.8rem;
  }
  
  .portfolio__item-overlay p {
    font-size: .95rem;
  }
  .portfolio__item-tags {
    row-gap: .6rem;
    column-gap: .6rem;
    padding-top: 1rem;
  }
  
  
  .portfolio__item-tag {
    background-color: #d7d2d2;
    border-radius: .1rem;
    padding: 0.1rem .4rem;
    font-size: .78rem !important;
  }
}


/*** media quieries (small devices) ***/
@media screen and (max-width: 600px) {
  .portfolio__container {
    width: 100% !important;
  }

  .portfolio__item-link-group {
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 1000;
  }

  .portfolio__item-overlay h3 {
    font-size: 1.6rem;
  }

  .portfolio__item-overlay p {
    font-size: .88rem;
  }

  .portfolio__item-tag {
    background-color: #d7d2d2;
    border-radius: .1rem;
    padding: 0.1rem .4rem;
    font-size: .68rem !important;
  }

}

/*** media quieries (smaller devices) ***/
@media screen and (max-width: 400px) {
  .portfolio__container {
    width: 100% !important;
  }
  .portfolio__item-overlay h3 {
    font-size: 1.4rem;
  }

  .portfolio__item-overlay p {
    font-size: .70rem;
  }
  
  .portfolio__item-tag {
    background-color: #d7d2d2;
    border-radius: .1rem;
    padding: 0.1rem .4rem;
    font-size: .58rem !important;
  }

}




 












