
.skills__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skill__image {
  width: 6rem;
  margin: 2rem; 
}


#my-tooltip {
  color: #fff;
  background-color: grey;
  opacity: 0.2;
}


/*** media quieries (medium devices) ***/
@media screen and (max-width: 1024px) {
  
}

/*** media quieries (small devices) ***/
@media screen and (max-width: 600px) {
  

}












