/* .container.contact__container {
  width: 58%;
  display: grid;
  gap: 12%;
  padding-bottom: 4rem;
}

.container.contact__container button {
  align-self: center;
  font-size: 1.2rem;
}




form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background: rgb(245, 245, 245);
  border: 2px solid var(--color-primary-variant);
  resize: none;
  font-family: 'Montserrat', sans-serif;
}





@media screen and (max-width: 1024px) {
  .container.contact__container {
    width: var(--container-width-md);
  }
}


@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
} */












