


header {
  padding-top: 2rem;
  overflow: hidden;
}


.header__container {
  text-align: center;
  /* height: 100%; */
  min-height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about_headshot .me{
  margin: 0;
}




/*** CTA ***/
.cta {
  padding-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}


/** header socials **/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}



/** header image **/
.me {
  width: 22rem;
  height: 22rem;
  position: relative;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
}




/*** media quieries (medium devices) ***/
@media screen and (max-width: 1024px) {
  header {
    padding-top: 4rem;
    
  }
  .header__container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 0 !important;
  }

  .about_headshot {
    padding: 1rem;
  }
}

/*** media quieries (small devices) ***/
@media screen and (max-width: 600px) {
  header {
    padding-top: 2rem;
  }

  .header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    /* display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; */
  }

  .header__socials, .scroll__down {
    display: none;
  }
}






