footer {
  background: var(--color-primary);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}


.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-black);
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: var(--border-radius);
  display: flex;
  transition: var(--transition);
  transform-origin: center center;
  filter: var(--dim);
}

.footer__socials a:hover {
  filter: var(--brighten);
  transform: scale(1.5);
}

.footer__copyright {
  margin-bottom: 1rem;
  color: var(--color-bg);
}


@media screen and (max-width: 600px) {

  .footer__socials {
    margin-bottom: 2.6rem;
  }

  .footer__copyright {
    margin-bottom: 14vh;
  }
}





