
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;450;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


:root {
  --color-bg: #f5f5f7;
  --color-bg-variant: #9abbdc;
  --color-primary: #101727;
  --color-primary-variant: #989898;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-black: #000;
  --color-dark: #555555;
  --color-text-highlight: #989898;

  --color-bg-light: #f8f8f8;
  

  --container-width-lg: 75%;
  --container-width-md: 90%;
  --container-width-sm: 100%;

  --border-radius: 0.4rem;
  --scale: 1.2;
  --dim: 70%;
  --brighten: 100%;
  --transition: transform .3s, filter .4s ease;

}


html {
  scroll-behavior: smooth;
  background: var(--color-bg);
}


::-webkit-scrollbar {
  display: none;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black);
  line-height: 1.7;
}


.bg-light {
  /* background: #f8f8f8; */
  background: #f5f5f7;
}

.bg-dark {
  background: #ededed;
}


.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  /* min-height: 60vh; */
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
   }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}


h1 {
  font-size: 2.5rem;
}


section {
  /* margin-top: 8rem; */
  min-height: 60vh;
  padding: 5rem;
}


section > h2, section > h5 {
  text-align: center;
  color: var(--color-dark);
}

section > h2 {
  color: var(--color-primary);
  /* margin-bottom: 3rem; */
}

section > h5 {
  margin-bottom: 4.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.text-light {
  color: var(--color-dark);
}


a {
  color: var(--color-primary);
  transition: var(--transition);
}



.btn {
  width: max-content;
  display: inline-block;
  color: var(color-primary);
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  transform-origin: center center;
  filter: var(--dim);
}


.btn:hover {
  filter: var(--brighten);
  transform: scale(var(--scale));
}


.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}



img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}





/*** media quieries (medium devices) ***/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    /* margin-top: 6rem; */
    padding: 2rem;
    min-height: 60vh;
  }
}

/*** media quieries (small devices) ***/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}








