

nav {
  position: fixed;
  height: 6rem;
  width: 100%;
  text-transform: uppercase;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1rem 3rem;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}

.nav-logo {
  text-transform: none !important;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  cursor: pointer;
  justify-self: left !important;
  visibility: hidden;
}




.nav-logo svg {
  width: 8rem;
  /* text-shadow: none; */
}


.nav-logo svg g path {
  opacity: .6;
  transform: scale(1.2);
}


#logo-path {
  stroke: var(--color-primary);
  /* fill: transparent; */
  /* stroke-width: 3; */
  /* stroke-linecap: round; */
  /* stroke-linejoin: round; */
}



.nav-links {
  display: flex;
  justify-content: flex-end !important;
  gap: 3rem;
  padding: 1rem 3rem;
  font-size: 1rem;;
}

.nav-links a {
  cursor: pointer;
  font-weight: 600;
  color: var(--color-text);
}

.nav-links a:hover, .nav-button button:hover {
  color: var(--color-text-highlight);
}

.nav-button {
  display: flex;
  justify-content: flex-end !important;
  padding-left: 3rem;
}

.nav-button button {
  background: none;
  color: var(--color-text);
}




.navColorChange {
  background-color: var(--color-bg-variant);
  height: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}



/* .navColorChange .nav-links a {
  color: var(--color-bg);
} */

.navColorChange .nav-links a:hover {
  cursor: pointer;
}

.navColorChange .nav-links a.active {
  color: var(--color-primary-variant);
}

.navColorChange .nav-logo{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}








@media screen and (max-width: 1024px) {
  nav {
    justify-content: center;
  }

  .nav-logo {
    visibility: hidden !important;
    width: 0px;
    padding: 0;
  }
  
}


@media screen and (max-width: 600px) {
  
  nav {
    background: rgba(0, 0, 0, 0.2);
    width: 90%;
    display: block;
    height: 5rem;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    border-radius: var(--border-radius);
    backdrop-filter: blur(0.2rem);
  }

  

  .nav-links {
    gap: 0.8rem;
  }
  
  .nav-links a {
    background: transparent;
    padding: 0.9rem;
    border-radius: var(--border-radius);
    display: flex;
    color: var(--color-text-highlight);
    font-size: 1.1rem;
  }
  
  .nav-links a:hover {
    background: var(--color-text-highlight);
    color: var(--color-bg);
    border: .1rem solid var(--color-primary-variant);
  }
  
  .nav-links a.active {
    background: var(--color-primary);
    color: var(--color-text-highlight);
    border: .1rem solid var(--color-primary-variant);
  }

  

  .navColorChange {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .navColorChange .nav-links a.active {
    color: var(--color-text-highlight);
  }

}









